iwi.json
[
    {
        "id": "e2bfbda763e292f1",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9cfdbda7666d9511",
        "type": "ui_tab",
        "name": "ホーム",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "590ee7c81ff48f12",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED ダッシュボード",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "727dfaa4661bae54",
        "type": "ui_group",
        "name": "ultrasonic",
        "tab": "9cfdbda7666d9511",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aeab883bc8cf3534",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "02b214dd910a8c40",
        "type": "mqtt in",
        "z": "e2bfbda763e292f1",
        "name": "",
        "topic": "ultrasonic",
        "qos": "2",
        "datatype": "auto",
        "broker": "aeab883bc8cf3534",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "cb45f512674126cd"
            ]
        ]
    },
    {
        "id": "cb45f512674126cd",
        "type": "json",
        "z": "e2bfbda763e292f1",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "ba3a4f6ac7324e59",
                "70d5019d5a650803"
            ]
        ]
    },
    {
        "id": "a6d5533cf48fdebf",
        "type": "aedes broker",
        "z": "e2bfbda763e292f1",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": null,
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 220,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ba3a4f6ac7324e59",
        "type": "debug",
        "z": "e2bfbda763e292f1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "70d5019d5a650803",
        "type": "ui_gauge",
        "z": "e2bfbda763e292f1",
        "name": "",
        "group": "727dfaa4661bae54",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "unit",
        "format": "{{msg.payload.distance}}",
        "min": 0,
        "max": "700",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "a90c06157989bde8",
        "type": "http in",
        "z": "e2bfbda763e292f1",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "c715dd14479f5036"
            ]
        ]
    },
    {
        "id": "c715dd14479f5036",
        "type": "template",
        "z": "e2bfbda763e292f1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "0a77df4b3c1b8555"
            ]
        ]
    },
    {
        "id": "0a77df4b3c1b8555",
        "type": "http response",
        "z": "e2bfbda763e292f1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 440,
        "wires": []
    }
]